*.accdb
*.db
*.dbf
*.mdb
*.pdb
*.sqlite3
*.db-shm
*.db-wal.DS_Store
.AppleDouble
.LSOverrideIcon._*.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk*.icloud__pycache__/
*.py[cod]
*$py.class*.so.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST*.manifest
*.specpip-log.txt
pip-delete-this-directory.txthtmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/*.mo
*.pot*.log
local_settings.py
db.sqlite3
db.sqlite3-journalinstance/
.webassets-cache.scrapydocs/_build/.pybuilder/
target/.ipynb_checkpointsprofile_default/
ipython_config.py.pdm.toml__pypackages__/celerybeat-schedule
celerybeat.pid*.sage.py.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/.spyderproject
.spyproject.ropeproject/site.mypy_cache/
.dmypy.json
dmypy.json.pyre/.pytype/cython_debug/poetry.toml.ruff_cache/pyrightconfig.json[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json